PORT=3000

# -- Database credentials --
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=remittance_db

# Database URL used by dbmate for migrations
# !! NOTE !!: 
# db:5432 is used here because this points to the db port that is used inside docker
# please run your migrations via docker interactive terminal. (eg: `npx dbmate new create_table_name`)
DATABASE_URL=postgresql://postgres:postgres@db:5432/remittance_db?sslmode=disable
JWT_SECRET=samplesecret
